body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.calendar {
  width: 300px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.calendar-days {
  display: flex;
  flex-wrap: wrap;
}

.calendar-date {
  width: calc(100% / 7);
  text-align: center;
  padding: 10px 5px;
}

.today {
  background-color: lightblue; /* Цвет подсветки для сегодняшней даты */
}

.reminder {
  cursor: pointer;
  background-color: lightgreen; /* Цвет подсветки для дат с напоминаниями */
}
